.box {
    text-align: center;
    /* background-color: #999999; */
  }
  
.centered {
    display: inline-block;
    width: 80%;
    text-align: center;
  }

.heading {
    font-size: 40px;
    color: rgb(76, 76, 76);
    padding-top: 20px;
    padding-bottom: 20px;
}

.videobox {
    /* border: 1px solid grey; */
    height: 500px;
}

.gif {
    height: 500px;
}

.img {
    height: 500px;
}

.control-panel {
    margin-top: 20px;
}


.button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100px;
    color: rgb(135, 134, 134);
    font-size: large;
    color: rgb(135, 134, 134);
    border-radius: 50px;
    background-color: rgb(218, 218, 218);
}

/* nav bar css */

.nav {
    background-color: rgb(218, 218, 218);
}

.nav ul {
    text-align: right;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.nav ul li{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 10px;
    display: inline;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(135, 134, 134);
}